/* base blue  = #73c1cc*/


/* text cream = f2f2db */

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);

/*** NAV ***/

.material-icons {
  font-size: 11rem;
}

nav {
  background-color: #73c1cc;
  color: #f2f2db;
  height: 5em;
}

a {
  color: #f2f2db;
}

a:hover {
  color: lightgray;
}

body {
  font-family: 'Libre Baskerville', serif;
}

p {
  margin: 0 1.5em 0.5em;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 200;
  font-style: italic;
}


/*** ABOUT ***/

#about {
  margin: 0 auto;
}


/*** FOOTER ***/

.page-footer {
  background-color: #73c1cc;
  color: #f2f2db;
  height: 70%;
  margin-left: 0;
}