/* base blue  = #73c1cc*/


/* text cream = f2f2db */

@import url(https://fonts.googleapis.com/css?family=Libre+Baskerville:400,400italic,700);
.material-icon {
  font-size: 9rem;
}

nav {
  background-color: #73c1cc;
  color: #f2f2db;
}

a {
  color: #f2f2db;
}

a:hover {
  color: lightgray;
}

body {
  font-family: 'Libre Baskerville', serif;
  font-size: 400;
}

h1 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700;
}

.header {
  font-family: 'Libre Baskerville', serif;
  font-weight: 400;
  font-style: italic;
}

.byline {
  font-style: italic;
}


/** footer **/

.page-footer {
  background-color: #73c1cc;
  color: #f2f2db;
  height: 70%;
  margin-left: 0;
}